.vrn-row {
  background: #f8f8f8;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
  span {
    margin-right: 10px;
    width: 100px;
    display: inline-block;
  }
  button {
    margin-right: 4px;
  }
}
