<div>
    <select (change)="onSelected($event.target.value)">
        <option value="">Select Value</option>
        <option value="Sahil Arora">Sahil</option>
    </select>
</div>
<div style="margin:10px 0 0 0" class="col-md-6">
    <table class="table table-bordered">
        <tr>
            <td>Name</td>
            <td>Designation</td>
            <td>salary</td>
            <td>Action</td>
        </tr>
        <ng-container *ngIf="listEmployees$ | async as employees">
            <tr *ngFor="let employee of employees">
                <td>{{employee.empName}}</td>
                <td>{{employee.designation}}</td>
                <td>{{employee.salary}}</td>
                <td><input type="button" value="edit" (click)="editEmployee(employee.id)" />
                    <input type="button" value="Delete" (click)="deleteEmployee(employee.id)" />
                </td>
            </tr>
        </ng-container>
    </table>
</div>

<ng-container *ngIf="listEmployees$ | async as employees">
    <div *ngFor="let employee of employees;let i = index">
        <span>{{employee.empName}}</span>

      {{employee['main_skills']}}
       
         <!--  <ng-container *ngFor="let skill of employee['main_skills']">
            <span>{{skill?.sill_name}}</span>
        </ng-container> -->  
    </div>
</ng-container>